<form action="{{ endpoint }}" method="POST">
  {% csrf_token %}
  <div class="input-group">
    <label for="title">Book title</label>
    <input type="text" id="title" name="title" value="{{ review.book_title }}" required>
  </div>

  <div class="input-group">
    <label for="author">Author</label>
    <input type="text" id="author" name="author" value="{{ review.book_author }}" required>
  </div>

  <div class="input-group">
    <label for="rating">Rating (1–5)</label>
    <select id="rating" name="rating" required>
      <option value="" disabled selected class="placeholder">Select a rating</option>
      <option value="1" {% if review.rating|equalto:"1" %}selected{% endif %}>1 – Poor</option>
      <option value="2" {% if review.rating|equalto:"2" %}selected{% endif %}>2 – Below average</option>
      <option value="3" {% if review.rating|equalto:"3" %}selected{% endif %}>3 – Average</option>
      <option value="4" {% if review.rating|equalto:"4" %}selected{% endif %}>4 – Good</option>
      <option value="5" {% if review.rating|equalto:"5" %}selected{% endif %}>5 – Excellent</option>
    </select>
  </div>

  <div class="input-group">
    <label for="review">Your review</label>
    <textarea id="review" name="review" rows="10" required>{{ review.review_text }}</textarea>
  </div>

  <div class="input-group">
    <button type="submit">
      {% if action == 'new' %}
      Submit review
      {% else %}
      Save review
      {% endif %}
    </button>
  </div>
</form>